* {
    margin: 0;
    padding: 0;
}


html {
    size: 46px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.navbarbody {
    font-family: Montserrat;
    height: 2rem;
    background-color: #2C3E4F;
    color: #fff;
    padding: 3rem;
    text-transform: uppercase;
    align-items: center;
    /* Vertically center the content */
    display: flex;
    justify-content: space-between;

}

.navbartextheader {
    font-size: 2rem;
    /* Display elements inline */
    font-weight: 700;
    color: #fff;
    padding-left: 5rem;
}

.navbartext li a {
    color: #fff;
}

.navbartext li a:hover {
    color: #1ABC9B;
}

a {
    text-decoration: none;
}

.navbartext {
    display: inline-block;
}

.navbartext li {
    display: inline-block;
    padding-right: 2rem;
    font-weight: 700;
}

/* Media query for smaller screens (e.g., mobile) */
@media (max-width: 768px) {
    .navbartext li {
        display: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: Montserrat;
}

.headerbody {
    max-width: auto;
    height: 600px;
    background-color: #1ABC9B;
    padding-top: 128px;
    text-align: center;
}

.img-fluid {
    max-width: 256px;
}

header h1 {
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    padding-top: 2rem;
}

.star-light,
.star-dark {
    border: none;
    border-top: 0.1rem solid #fff;
    border-radius: 10px;
    max-width: 20rem;
    margin: 1.5rem auto;
    overflow: visible;
    height: 0;
    padding-bottom: 5px;
}

.star-light::after,
.star-dark::after {
    content: "\2605";
    font-weight: 900;
    font-size: 2rem;
    position: relative;
    top: -25px;
    padding: 7px;
}

header h2 {
    color: #fff;
    font-weight: 300;
}


#Portfolio {
    height: 600px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    color: #2C3E4F;
}

#Portfolio h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

hr.star-light {
    border-color: #fff;
}

hr.star-dark {
    border-color: #2C3E4F;
}

hr.star-light::after {
    background-color: #1ABC9B;
    color: #fff;
}

hr.star-dark::after {
    background-color: #fff;
    color: #2C3E4F;
}

.col {
    float: left;
    width: 33.333%;
    padding: 2rem;
    box-sizing: border-box;
}

.Portfolio-items {
    position: relative;
}

.img-fluid-p {
    max-width: 100%;
    height: auto;
}

.Portfolio-items img{
    display: block;
}

.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1ABC9B;
    opacity: 0;
}

.img-overlay .icon{
    color: #fff;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Portfolio-items:hover  .img-overlay{
    opacity: 0.8;
    transition: opacity 0.4s;
}